<a href="https://colab.research.google.com/github/sabill/dphi-boothcamp-ml/blob/main/Assignment_3_Advanced_Loan_or_No_Loan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Libraries

In [1]:
import pandas as pd
import seaborn as sns

##Load Dataset

A loan application is used by borrowers to apply for a loan. Through the loan application, borrowers reveal key details about their finances to the lender. The loan application is crucial to determining whether the lender will grant the request for funds or credit. The director of SZE bank identified that going through the loan applications to filter the people who can be granted loans or need to be rejected is a tedious and time-consuming process. He wants to automate it and increase his bankâ€™s efficiency. After talking around a bit, your name pops up as one of the few data scientists who can make this possible within a limited time. Will you help the director out?

In [4]:
loan_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_train.csv" )
loan_data.head()

   Unnamed: 0   Loan_ID  Gender  ... Credit_History Property_Area Loan_Status
0           0  LP002305  Female  ...            1.0     Semiurban           1
1           1  LP001715    Male  ...            1.0         Rural           1
2           2  LP002086  Female  ...            1.0         Urban           0
3           3  LP001136    Male  ...            1.0         Urban           1
4           4  LP002529    Male  ...            1.0     Semiurban           1

[5 rows x 14 columns]

##EDA (Exploratory Data Analysis)

In [6]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491 entries, 0 to 490
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         491 non-null    int64
 1   Loan_ID            491 non-null    object
 2   Gender             481 non-null    object
 3   Married            490 non-null    object
 4   Dependents         482 non-null    object
 5   Education          491 non-null    object
 6   Self_Employed      462 non-null    object
 7   ApplicantIncome    491 non-null    int64
 8   CoapplicantIncome  491 non-null    float64
 9   LoanAmount         475 non-null    float64
 10  Loan_Amount_Term   478 non-null    float64
 11  Credit_History     448 non-null    float64
 12  Property_Area      491 non-null    object
 13  Loan_Status        491 non-null    int64
dtypes: float64(4), int64(3), object(7)
memory usage: 53.8+ KB

In [7]:
loan_data.describe()

       Unnamed: 0  ApplicantIncome  ...  Credit_History  Loan_Status
count  491.000000       491.000000  ...      448.000000   491.000000
mean   245.000000      5401.189409  ...        0.848214     0.698574
std    141.883755      6419.427177  ...        0.359214     0.459345
min      0.000000       150.000000  ...        0.000000     0.000000
25%    122.500000      2923.500000  ...        1.000000     0.000000
50%    245.000000      3865.000000  ...        1.000000     1.000000
75%    367.500000      5705.500000  ...        1.000000     1.000000
max    490.000000     81000.000000  ...        1.000000     1.000000

[8 rows x 7 columns]

##Data Preparation

##Model (ML Algorithm)

##Evaluation

##Hyperparameter Tuning, Feature Selection

##XAI (Explainable AI)

##Deployment

##Test Data (Submission)

In [9]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/Loan_Data/loan_test.csv')
test_data.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001116   Male      No  ...            360.0            1.0     Semiurban
1  LP001488   Male     Yes  ...            360.0            1.0     Semiurban
2  LP002138   Male     Yes  ...            360.0            1.0         Rural
3  LP002284   Male      No  ...            360.0            1.0         Rural
4  LP002328   Male     Yes  ...            360.0            0.0         Rural

[5 rows x 12 columns]